* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.mar5 {
    margin: 5vw;
}
.flex{display:flex;
    flex-wrap:wrap;
    flex:1;
}

.in{
       display:inline;
}
.blo{
    display:block;
}
/* body styling */
body{
    height: 100vh;
    width:100vw;
    color:white;
    font-size: 50%;
}
/* hero section styles */
.hero{ 
    width:100%;
    padding-top: 2vh;
    align-content: center;
    flex-direction: column;
    height:40vh;
background-image: url("/images/photo-1600443546015-f9b924a5b416.jpeg");
background-position:center;
background-size:cover;
}
/* blackbox styling */
.blackbox{
    margin-top:5vh;
    width:100vw;
    height:20vh;
    background-color: black;
    margin-bottom: 10vh;
    }
.first{height:100%;
    justify-content: center;
    align-items: center;
}
/* card section styling */
.card{
    display:flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 10%;
   
    
}
.card .box{
    width:20vw;
    height:auto;
    padding-bottom:5vw;
    border-bottom: 1px grey;
    border-right: 1px grey;
    border-bottom-right-radius:5px ;
    box-shadow: 1px 1px 2px grey;
    overflow: hidden;
    color:black;
}
.card img{
    width:20vw;
    height:15vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.space{
    padding-top: 2vw;
    font-size :1rem;
}
.bottom{
    margin-top: 5vh;
    
    flex-direction: row;
    height:10vw;
    width:100%;
    justify-content:center;
    column-gap: 10%;
}
.bot1{
    width: 40%;
    padding:2%;
    background-color: darkolivegreen;
    font-size: large;
    line-height:1.5em ;
}
.bot2{
    width: 40%;
    background-color: maroon;
    font-size: large;
    padding:2%;
    line-height:1.5em ;
}

@media screen and (max-width:800px){
    .hero{
        text-align:center;
        
    }
    .blackbox
    {
        margin-top:0vh;      
    }
    .card{
        flex-direction: column;
        align-items: center;
        
    }
    .card .box { margin-top:10%;
        width:80%;
        height:80%;
    }
    .card img{
        width:100%;
    height:50%;
}
.bottom{
    flex-direction: column;
    width:100%;
    height:100%;
    align-items: center;
}
.bot1,.bot2{
     width:100% ; 
    height:50%;
}

}